.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.navbar{
    display:flex;
    flex-direction: row;
}
.navbar img{
    height:20%;
}
.header{
    margin-top: 2%;
    font-size: 3.5rem;
}
.navbar-menu{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu a{
    height: fit-content;
    background-color: transparent;
    font-size: 1.2rem;
}

.top-img{
    
    top:4%;
    right:15%;
}
.bottom-img{
    bottom:4%;
    left:15%;
}

.bottom-img:hover{
   width:150px;
}
.top-img:hover{
    width:150px;
}
.about-me-extra{
    display:flex;
    flex-direction: row;
    padding:40px;
}
.about-me img{
    margin-top:80px;
    height:300px;
}
.about-me p{
    text-align: left;
}
.rewards li{
    margin-top: 50px;;
}
.achievement{
    display:flex;
    flex-direction:row;
}
.button{
    margin-bottom:10px;
}

.contact-links{
    display:flex;
    flex-direction: row;
}
.buttons{
    width:200px;
}